SECRET_KEY=change-this-secret-key
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=smart_city_dashboard
DEFAULT_ADMIN_NAME=Local Government Admin
DEFAULT_ADMIN_EMAIL=admin@smartcity.local
DEFAULT_ADMIN_PASSWORD=Admin@123